body {
  background-color: #252525;
}

h1,h2,h3,h4,h5 {
  font-weight: 200;
  color: white;
}

p {
  color: white;
}

hr{
  color: white;
}

.navbar-brand {
  font-weight: 400;
  color: #ffcc00 !important;
}

.btn-outline-success {
  border-color: #bd4c5f !important;;
  color: #bd4c5f !important;;
}

.btn-outline-success:hover {
  background-color: #272a36;
  color: white !important;
}

.block {
  display:block;
}

ngb-rating {
  font-size: 12px;
  color: #ffcc00;
  background: transparent;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
